SPRING_PROFILES_ACTIVE=dev
JWT_SECRET=change-me-at-least-32-characters
ENCRYPT_KEY=change-me

MYSQL_VERSION=8.4
MYSQL_PORT=3306
MYSQL_DATABASE=user_service_db
MYSQL_ROOT_PASSWORD=root

REDIS_VERSION=7.2-alpine
REDIS_HOST=redis
REDIS_PORT=6379

DISCOVERY_PORT=8761
CONFIG_PORT=8888
USER_SERVICE_PORT=8091
GATEWAY_PORT=8080

EUREKA_DEFAULT_ZONE=http://discovery:8761/eureka/
CONFIG_IMPORT=configserver:http://config:8888
